
@{
    ViewBag.Title = "Create";
}

<h2>Add Restaurant</h2>
<form action="/Restaurant/Create" method="POST">
    <div>
        <label for="name">Restaurant Name: </label>
        <input id="name" type="text" name="RestaurantName" />
    </div>
    <div>
        <label for="type">Restaurant Type: </label>
        <input id="type" type="text" name="RestaurantType" />
    </div>
    <div>
        <label for="cuisine">Cuisine: </label>
        <input id="cuisine" type="text" name="Cuisine" />
    </div>
    <div>
        <label for="budget">Budget: </label>
        <input id="budget" type="text" name="Budget" />
    </div>
    <div>
        <input type="submit" value="Add Restaurant" />

    </div>
    <a href="/Branch/List">Back</a>
</form>