﻿@model RestaurantTracker.Models.RestaurantDto

@{
    ViewBag.Title = "Add";
}

<h2>@Model.RestaurantId</h2>
<div>@Model.RestaurantName</div>

<form action="/Branch/Create" method="POST">
    <div style="display:none">
        <input type="text" name="RestaurantId" value="@Model.RestaurantId" />
    </div>
    <div>
        <label for="status">Status: </label>
        <input id="status" type="text" name="Status" />
    </div>
    <div>
        <label for="review">Review: </label>
        <input id="review" type="text" name="Review" />
    </div>
    <div>
        <label for="location">Location: </label>
        <input id="location" type="text" name="Location" />
    </div>
    <div>
        <label for="address">Address: </label>
        <input id="address" type="text" name="address" />
    </div>
    <div>
        <input type="submit" value="Add Branch" />

    </div>
    <a href="/Restaurant/Details/@Model.RestaurantId">Back</a>
</form>